/* General styling */
a{
	color: #306AB2;
}

a:hover{
	color: #29374d;
}

body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4 {
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
	font-weight: 300;
	line-height: 1.5em;
}

body{
	font-size: 14px;
	background-color: #ECECEC;
}

h4 {
	font-size: 1.2rem;
}

.w7 {
	width: 7%;
}

.w10 {
	width: 10%;
}

.w16 {
	width: 16%;
}

.w30 {
	width: 30%;
}

.w33 {
	width: 33%;
}

.w70 {
	width: 70%;
}

.w100{
	width: 100%;
}

.note-editor .note-toolbar {
	background-color: #f5f5f5!important;
	border-bottom: 1px solid #a9a9a9;
}

form{
	margin: 0;
}

.clickable{
	cursor: pointer;
}

.list-group.suggestions-listgroup{
	position: absolute;
	z-index: 4;
	background-color: #FFF;
	border: 1px solid #d2d2d2;
}

.list-group.userrights{
	padding-left: 15px;
	padding-right: 15px;
}

h6, .h6{
	text-transform: none;
}

.hidden{
	display: none;
}

.go-up{
	display: block;
	z-index: 9999;
}

.navbar .navbar-nav > li > a{
	text-transform: none;
}
.card-header-icon img{
	width: 33px;
	height: 33px;
	text-align: center;
	line-height: 33px;
}

.card-header-icon .fas{
	font-size: 23px;
}

/* End general styling */

/*** Icons styling styling ***/

a .material-icons {
	vertical-align: middle;
}

.btn-group-sm .btn.btn-fab .fas,
.btn-group-sm .btn.btn-just-icon .fas,
.btn-group-sm>.btn.btn-fab .fas,
.btn-group-sm>.btn.btn-just-icon .fas,
.btn.btn-fab.btn-fab-mini .fas,
.btn.btn-fab.btn-sm .fas,
.btn.btn-just-icon.btn-fab-mini .fas,
.btn.btn-just-icon.btn-sm .fas{
	font-size: 17px;
    line-height: 20px;
}

.iconstyle i.material-icons{
	height: 30px;
	width: 30px;
	line-height: 30px;
	vertical-align: middle;
	font-size: 16px;
}

.iconstyle a{
	vertical-align: middle;
	padding: 0 24px !important;
}

/*** End Icons styling styling ***/

/* Button styling styling */

.btn {
	font-size: 14px;
	cursor: pointer;
	text-transform: none;
}

.btn-secondary.disabled,
.btn-secondary:disabled{
	background-color: #ccc;
}

.btn,
.btn.btn-default,
.btn.btn-primary,
.btn.btn-secondary,
.btn.btn-success,
.btn.btn-danger,
.btn.btn-warning,
.btn.btn-info,
.btn.btn-light,
.btn.btn-dark{
	box-shadow: none;
}

.btn.btn-primary:active,
.btn.btn-primary:focus,
.btn.btn-primary:hover{
	box-shadow:
	0 14px 26px -12px rgba(48,106,178,.42),
	0 4px 23px 0 rgba(0,0,0,.12),
	0 8px 10px -5px rgba(48,106,178,.2)
	;
}

.btn.btn-primary,
.btn.btn-primary:active,
.btn.btn-primary:focus,
.btn.btn-primary:hover,
.btn.btn-primary.active.focus,
.btn.btn-primary.active:focus,
.btn.btn-primary.active:hover,
.btn.btn-primary:active.focus,
.btn.btn-primary:active:focus,
.btn.btn-primary:active:hover,
.open>.btn.btn-primary.dropdown-toggle.focus,
.open>.btn.btn-primary.dropdown-toggle:focus,
.open>.btn.btn-primary.dropdown-toggle:hover,
.show>.btn.btn-primary.dropdown-toggle.focus,
.show>.btn.btn-primary.dropdown-toggle:focus,
.show>.btn.btn-primary.dropdown-toggle:hover,
.btn.btn-primary.active,
.btn.btn-primary:active,
.open>.btn.btn-primary.dropdown-toggle,
.show>.btn.btn-primary.dropdown-toggle{
	background-color: #306AB2;
	border-color: #306AB2;
}

/*  End Button styling */

/* Dropdown styling */

.bootstrap-select > .dropdown-toggle.btn{
	padding: 7px 30px;
}

.bootstrap-select .dropdown-item.active,
.dropdown-menu .dropdown-item:focus,
.dropdown-menu .dropdown-item:hover,
.dropdown-menu a:active,
.dropdown-menu a:focus,
.dropdown-menu a:hover{
	background-color: #306AB2;
	box-shadow: none;
}

/* End Dropdown styling */

/* Pagination styling */

.pagination>.page-item.active>a,
.pagination>.page-item.active>a:focus,
.pagination>.page-item.active>a:hover,
.pagination>.page-item.active>span,
.pagination>.page-item.active>span:focus,
.pagination>.page-item.active>span:hover{
	background-color: #306AB2;
	border-color: #306AB2;
	box-shadow: none;
}

/* End Pagination styling */

/* Start Bootstrap override */

@media (min-width: 1660px) {
	.container {
		max-width: 1800px;
	}

	.col-xxl-9{
	-ms-flex: 0 0 75%;
		flex: 0 0 75%;
	max-width: 75%;
	}

	.col-xxl-3{
	-ms-flex: 0 0 25%;
		flex: 0 0 25%;
	max-width: 25%;
	}
}

.col-auto{
	padding-right: 15px;
	padding-left: 15px;
}

.form-group label {
	min-height: 22px;
}

.nopad-lr {
	padding-left: 0px!important;
	padding-right: 0px!important;
}

.nopad-bot{
	margin-bottom: 0px;
}

.seperator {
	height: 0px !important;
	color: transparent;
	border-bottom: 3px dashed #ddd;
	margin-top: 5px !important;
	margin-bottom: 10px !important;
}

/* Card styling */

.card .card-header-primary .card-icon,
.card .card-header-primary .card-text,
.card .card-header-primary:not(.card-header-icon):not(.card-header-text),
.card.bg-primary,
.card.card-rotate.bg-primary .back,
.card.card-rotate.bg-primary .front{
	background: #306AB2;
}

.card .card-header-primary .card-icon,
.card .card-header-primary .card-text,
.card .card-header-primary:not(.card-header-icon):not(.card-header-text){
	box-shadow: none;
}

/* End card styling */

/* Nav styling */

.nav-pills .nav-item .nav-link{
	border-radius: 4px;
}

.nav-pills .nav-item .nav-link.active{
	background-color: #306AB2;
	box-shadow: none;
}

/* End nav styling */

/* Navbar styling */

.navbar{
	border-bottom-width: 0;
	height: 56px !important;
	box-shadow: none;
	padding: 33px 0;
}

.navbar .navbar-nav > li > a{
	text-transform: none;
}

.navbar #userDropdown i.material-icons,
.navbar #userDropdown .fas{
	font-size: 40px;
	width: 40px;
	max-width: none;
	margin-right: 0;
}

.navbar #userDropdown::after,
.sidebar #userDropdown::after{
	content: none;
}

.navbar .fas,
.navbar i.material-icons,
.sidebar .fas,
.sidebar i.material-icons {
	font-size: 30px;
	line-height: 30px;
	width: 30px;
	height: 30px;
}

.navbar .fas,
.navbar i.material-icons{
	color: #29374d;
}

.navbar .navbar-nav > li > a .material-icons,
.navbar .navbar-nav > li > a .fa{
	font-size: 40px;
	vertical-align: middle;
	width: 40px;
}

.navbar .collapse .navbar-nav .nav-item .nav-link{
	text-transform: none;
}

/* End navbar styling */

.dropdown-item{
	width: auto;
}

.orderdrop .dropdown-item{
	height: 30px;
	line-height: 30px;
}

.dropdown-menu > li > a{
	display: block;
}

/* Start sidebar styling */

.sidebar{
	box-shadow: none;
}

.sidebar[data-background-color=black] .sidebar-background:after{
	background: transparent;
}

.sidebar .sidebar-wrapper,
.off-canvas-sidebar .sidebar-wrapper{
	height: 100%;
}

.sidebar:before,
.sidebar:after,
.off-canvas-sidebar:before,
.off-canvas-sidebar:after{
	background-color: #29374d;
}

.sidebar .logo img,
.sidebar .logo-mini img{
	width: 100%;
}

.sidebar .logo:after{
	height: 0;
}

.sidebar p,
.sidebar .nav i,
.off-canvas-sidebar .nav i,
.sidebar[data-background-color=black] .nav .nav-item i{
	color: #FFF;
}

.sidebar[data-color=green] li.active>a{
	box-shadow: none;
}

.sidebar p{
	vertical-align: bottom;
}

.sidebar .nav.nav-mobile-menu .dropdown-menu .dropdown-header{
	color: #FFF;
}

.sidebar .logo a.logo-normal img,
.sidebar .logo a.logo-mini img{
	width: auto;
	height: 30px;
}

/* End sidebar styling */

/* Start main panel styling */

.main-panel {
	position: relative;
	overflow: auto;
	min-height: 0;
	max-height: none;
	height: auto;
}

.main-panel > .content {
	margin-top: 0px;
	padding-top: 0px;
}

.status-block {
	height: 20px;
	width: 20px;
	display: inline-block;
	border-radius: 3px;
	vertical-align: middle;
}

/* End main panel styling */

/* Table styling */

table .table-badge{
	display: block;
	background-color: #29374d;
	color: #FFF;
	border-radius: 100%;
	width: 25px;
	height: 25px;
	line-height: 25px;
	text-align: center;
}

table.table{
	border-spacing: 0;
}

table.table tfoot {
	font-weight: bold;
}

table.table .form-group{
	padding: 0;
	margin: 0;
}

table.normal-table-text{
	font-weight: 100;
	font-size: inherit;
}

.table.table-borderless td,
.table.table-borderless th{
	border: none;
}

table.table tr:first-child td {
	border-top: none;
}

table.table .td-actions {
	vertical-align: bottom;
}

.table > thead > tr > td,
.table > thead > tr > th{
	vertical-align: top;
	padding: 5px 8px !important;
}

.table > thead > tr > td.sort-asc,
.table > thead > tr > th.sort-asc,
.table > thead > tr > td.sort-desc,
.table > thead > tr > th.sort-desc{
	position: relative;
}

.table > thead > tr > td.sort-asc:after,
.table > thead > tr > th.sort-asc:after,
.table > thead > tr > td.sort-desc:after,
.table > thead > tr > th.sort-desc:after{
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	position: absolute;
	right: 0px;
}

.table > thead > tr > td.sort-asc:after,
.table > thead > tr > th.sort-asc:after{
	content: "\f0d7";
}

.table > thead > tr > td.sort-desc:after,
.table > thead > tr > th.sort-desc:after{
	content: "\f0d8";
}

.table > tbody > tr > td{
	font-size: 14px;
	font-weight: 300;
}

.table > tbody > tr > td,
.table > tbody > tr > th{
	padding: 12px 8px !important;
}

table.table tr[data-href],
table.table td[data-href],
table.table th[data-href]{
	cursor: pointer;
}

.dataTables_wrapper table.dataTable > thead > tr > th {
	border: none;
}

.dataTables_wrapper table.dataTable.table-sm td,
.dataTables_wrapper table.dataTable.table-sm th{
	padding: .3rem  !important;
}

.dataTables_wrapper .pagination{
	float: right;
}

	/* Table-btw styling (specific btw class) */

	table.table.table-btw > thead > tr > th,
	table.table.table-btw > tbody > tr > th,
	table.table.table-btw > tfoot > tr > th,
	table.table.table-btw > thead > tr > td,
	table.table.table-btw > tbody > tr > td,
	table.table.table-btw > tfoot > tr > td{
		padding: 6px 8px;
	}

	table.table.table-btw > tbody > tr:first-child > th,
	table.table.table-btw > tbody > tr:first-child > td{
		padding-top: 20px;
	}

	table.table.table-btw > tbody > tr:last-child > th,
	table.table.table-btw > tbody > tr:last-child > td{
		padding-bottom: 20px;
	}

	/* End Table-btw styling */

/* End table styling */

/* Forms styling */

.bmd-form-group .bmd-label-static{
	left: auto;
}

.form-group.label-floating label.control-label{
	margin-top: 16px;
}

.form-group.label-static label.control-label,
.form-group.label-floating.is-focused label.control-label,
.form-group.label-floating:not(.is-empty) label.control-label{
	line-height: 1.07143;
	font-size: 12px;
	top: -28px !important;
}

.is-focused [class*=' bmd-label'],
.is-focused [class^=bmd-label]{
	color: #306AB2;
}

.form-control,
.is-focused .form-control{
	background-image: linear-gradient(to top,#306AB2 2px,rgba(156,39,176,0) 2px),linear-gradient(to top,#d2d2d2 1px,rgba(210,210,210,0) 1px)
}

.togglebutton label{
	color: #AAA;
}

.togglebutton label input[type=checkbox]:checked+.toggle{
	background-color: #306AB2;
}
.togglebutton label input[type=checkbox]:checked+.toggle:after{
	border-color: #306AB2;
}

.form-check .form-check-input:checked+.form-check-sign .check{
	background: #306AB2;
}

.form-check .form-check-input:checked~.circle{
	border-color: #306AB2;
}
.form-check .form-check-label .circle .check{
	background-color: #306AB2;
}

.form-check{
	padding-left: 15px;
}

.card .card-body .form-group,
form .form-group{
	margin: 15px 0 0;
}

form .form-group label{
	position:absolute;
	top:-12px;
}

form .form-group select.form-control{
	position: static;
}

select.form-control:not([size]):not([multiple]){
	height: 36px;
}

	/* Bootstrap selectpicker */

	.dropdown.bootstrap-select button.dropdown-toggle{
		height: 34px;
	}

	table td .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn){
		width: 120px;
	}

	.card [class*=card-header-] .card-title .dropdown a,
	.card[class*=bg-] .card-title .dropdown a{
		color: #000;
	}

	.card [class*=card-header-] .card-title .dropdown a.active,
	.card [class*=card-header-] .card-title .dropdown a.selected,
	.card [class*=card-header-] .card-title .dropdown a:hover,
	.card[class*=bg-] .card-title .dropdown a.active,
	.card[class*=bg-] .card-title .dropdown a.selected,
	.card[class*=bg-] .card-title .dropdown a:hover{
		color: #fff;
	}

	/* End Bootstrap selectpicker */

	/* Bootstrap datetimepicker */

	.bootstrap-datetimepicker-widget table td.active:hover>div,
	.bootstrap-datetimepicker-widget table td.active>div{
		background-color: #306AB2;
		box-shadow:
			0 4px 20px 0 rgba(0,0,0,.14),
			0 7px 10px -5px rgba(48,106,178,.4)
		;
	}

	.bootstrap-datetimepicker-widget table td span.active{
		background-color: #306AB2;
	}

	.bootstrap-datetimepicker-widget a[data-action]{
		color: #306AB2;
	}

	/* End Bootstrap datetimepicker */

	/* Tinymce styling */

	.row .mce-tinymce iframe{
		width: calc(100% - 2px) !important;
	}

	/* End Tinymce styling */

/* End Forms styling */

@media (max-width: 991px){
	.nav-open .main-panel,
	.nav-open .wrapper-full-page,
	.nav-open .navbar .container {
		-webkit-transform: translate3d(-200px, 0, 0);
		-moz-transform: translate3d(-200px, 0, 0);
		-o-transform: translate3d(-200px, 0, 0);
		-ms-transform: translate3d(-200px, 0, 0);
		transform: translate3d(-200px, 0, 0);
	}
}

/* Start dashboard styling */

.quotation-dashboard{
	line-height: 1.42857143;
	text-align: center;
}

@media (min-width: 992px){
	.quotation-dashboard .col-md-2-4{
		width: 20%;
		float: left;
	}
}

.quotation-dashboard .number{
	color: #306AB2;
	font-size: 7.5em;
	font-weight: 300;
}

.quotation-dashboard .number.number-success{
	color: #4caf50;
}

.dashboard.form-horizontal label{
	padding: 0 10px;
}

/* End dashboard styling */

/* Some extending Bootstrap classes */

.h-0
{
	height: 0px;
}

.mb-7 {
	margin-bottom: 5rem!important;
}

.copyright
{
	background-color: rgba(0,0,0,0.7);
	color: white;
	height: 35px;
}

.copyright p
{
	margin: 0px;
	line-height: 35px;
}

.copyright a
{
	color: white;
}

.mce-container.mce-panel.mce-floatpanel.mce-window.mce-in .mce-textbox.mce-multiline.mce-abs-layout-item.mce-first.mce-last
{
	height: 93% !important;
	border-radius: 5px;
}

.swal2-container:not(.swal2-in){
	pointer-events: auto;
}

.swal2-icon-text{
	font-size: 60px;
}

.wizard-card-header{
	margin-bottom: 2.5rem !important;
}


/*** Chartist.js styling styling ***/

.ct-chart .ct-series-c .ct-area,
.ct-chart .ct-series-c .ct-bar,
.ct-chart .ct-series-c .ct-line,
.ct-chart .ct-series-c .ct-point,
.ct-chart .ct-series-c .ct-slice-donut,
.ct-chart .ct-series-c .ct-slice-donut-solid,
.ct-chart .ct-series-c .ct-slice-pie{
	stroke: #4caf50;
}

/*** End Chartist.js styling styling ***/

/*** Drag drop fileinputs styling ***/

.dragdrop input[type="file"]{
	display: none;
}

.dragdrop .dropzone{
	border: 3px dashed #ccc;
	border-radius: 10px;
	transition-duration: 0.5s;
	text-align: center;
	font-size: 20px;
	line-height: 40px; /* Button heihgt */
	padding: 20px;
	color: #aaa;
	display: block;
	cursor: pointer;
}

.dragdrop .dropzone.dragging{
	background-color: #ccc;
}

/* Signature_pad */
.signature-pad{
	width: 100%;
	height: 150px;
	margin: 0 auto;
}

.signature-pad--body canvas{
	width: 100%;
	height: 100%;
	border: dotted #444;
	background: #FFFAFA;
	border-radius: 4px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.02) inset;
}

.offerte-split {
	margin-top: 1rem;
	margin-bottom: 1rem;
	border: 0;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.sign-container {
	max-width: 900px;
}

.thanks-background {
	background-size: cover;
	background-position: center top;
	background-image: url("/assets/images/login6.jpg");
}

.card-form {
	width: 27rem;
}

ul.email_notification_icon {
	width: 22rem !important;
}
/*** End Drag drop fileinputs styling ***/
